#home{
    background-color: #D1F2EB;
    /* margin-top: -20px; */
    width: 100vw;
    height: calc(100vh - 70px);
    padding: 50px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 5fr;
}
#home h1{
    margin: 0;
}
#home .full-width{
    grid-column: 1 / 4;
}
#home .two-four{
    grid-column: 2 / 4;
}
#home div{
    text-align: justify;
}
#home img{
    height: 200px;
}